
// COLOURS
$color-red: hsl(7, 99%, 70%);
$color-yellow: hsl(51, 100%, 49%);

// Dark desaturated cyan (graphic design text)
$color-cyan: hsl(167, 40%, 24%);
// Dark blue (photography text): 
$color-blue: hsl(198, 62%, 26%);
// footer
$color-footer:hsl(169, 42%, 68%);

$color-white: hsl(0, 0%, 100%);
$color-des-blue:  hsl(212, 27%, 19%);
$color-vd-gray: hsl(213, 9%, 39%);
$color-d-gray: hsl(232, 10%, 55%);
$color-gray: hsl(210, 4%, 67%);

/* media queries */
/* - Mobile: 375px */
/* - Desktop: 1440px */

$font-barlow: 'Barlow', sans-serif;
$font-frances: 'Fraunces', serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background: $color-des-blue;

}

h1 {
    font-size: 56px;
    font-family: $font-frances;
    font-weight: 900;
    letter-spacing: 0.1em;
    color: $color-white;
    text-align: center;
    margin-top: 2em;
}

p, a {
    font-size: 18px;
    font-family: $font-barlow;
    line-height: 1.4em;
    font-weight: 400;
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.4s linear;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// menu burger
.menu-btn {
    display: none;
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 44;
    right: 2.2em;
    top: 2.1em;
    background-color: transparent;
    cursor: pointer;
    border: none;
    span, 
    span::after, 
    span::before {
        content: "";
        width: 30px;
        height: 2px;
        display: block;
        position: absolute;
        background-color: $color-white;
    }
    span::before {
        top: 10px;
    }
    span::after {
        bottom: 10px;
    }
  }

header {
    min-height: 850px;
    height: 100vh;
    background-image: url(images/desktop/image-header.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .main-menu {
        // height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em 2.5em;
        .header-logo {
            img {
                height: 30px;
            }
        }
        nav {
            width: 40%;
           ul {
               display: flex;
               justify-content: flex-end;
               align-items: center;
               gap: 3em;
               li {
                a {
                    font-family: $font-barlow;
                    font-weight: 100;
                    color: $color-white;
                   }
               }
               .contact-btn {
                   background: $color-white;
                   padding: 1em 2em;
                   border-radius: 2em;
                   transition: all 0.4s linear;
                   a {
                       color: $color-des-blue;
                       font-family: $font-frances;
                       text-transform: uppercase;
                   }
                   &:hover {
                    background: rgba(255, 255, 255, 0.3);
                    a {
                        color: $color-white;
                    }
                   }
               }
               
           
           }
        }
    }
    .header-arrow {
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: $color-white;
    div {
        width: 50%;
        align-self: stretch;
       &:nth-child(1), 
       &:nth-child(4) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 5em 0 7em;
        h2 {
            font-family: $font-frances;
            font-weight: 900;
            font-size: 40px;
            color: $color-des-blue;
            margin-bottom: 1em;
            // max-width: 10em;
        }
        p {
            color: $color-vd-gray;
            margin-bottom: 2.5em;
            // max-width: 30em;
        }
        a {
            color: $color-des-blue;
            font-family: $font-frances;
            font-weight: bold;
            position: relative;
            width: 8em;
            text-align: center;
            z-index: 2;
            &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            z-index: -1;
            width: 100%;
            height: 10px;
            border-radius: 50px;
            opacity: 0.2;
            transition: all 0.4s linear;
            }
            &:hover:after{
                opacity: 1;
            }
        }
    }
        &:nth-child(1) a:after {
            background-color: $color-yellow;
           
           
        }
        &:nth-child(4) a:after {
            background-color: $color-red;
        }

        &:nth-child(5), 
        &:nth-child(6) {
           position: relative;
           div {
                position: absolute;
                top: 58%;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                padding: 2em;
                max-width: 65%;
                text-align: center;
            
            h3 {
                font-family: $font-frances;
                font-weight: 900;
                font-size: 28px;
                color: $color-des-blue;
                margin-bottom: 1em;
            }
            p {
              
                color: $color-vd-gray;

            }
           }
       }
        
    };
}

.testimonials {
    background-color: $color-white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10em;
    h2 {
        color: $color-gray;
        font-family: $font-frances;
        letter-spacing: 4px;
        margin-bottom: 4em;
    }
    &-clients{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3em;
        div {
            img {
                border-radius: 50%;
                width: 100px;
                height: 100px;
            }
            p {
                padding: 2em 0;
                color: $color-vd-gray;
            }
            h3 {
                font-family: $font-frances;
                font-weight: 900;
                padding-bottom: 0.6em;
            }
            h4 {
                font-family: $font-barlow;
               color: $color-gray;
               font-weight: 600;
            }
        }
    }
}

.gallery {
    display: flex;
    max-width: 100vw;
}

footer {
    background-color: $color-footer;
    padding: 4em 0 2em 0;
    text-align: center;
    a:hover {
        color: $color-white;
    }
  
    .logo {
        display: inline-block;
        width: 12em;
        padding-bottom: 2em;
    
    }
    nav {
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4em;
            padding-bottom: 5em;
            li a {
                font-weight: 400;
                color: $color-cyan;
            }
        }
    }
    .socialmedia {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
        svg  {
            fill:#2C7566;
            transition: all 0.4s linear;
            &:hover {
                fill: $color-white;
            }

        }
    }
}



@media only screen and (max-width: 1360px) {
    .boxes div:nth-child(5) div,
    .boxes div:nth-child(6) div  {
        max-width: 70%;
    }

    .boxes div:nth-child(5) div {
        padding: 2em 0;
    }

    .testimonials {
        padding: 10em 5em;
        &-clients{
            gap: 3.5em;
        }
    }
}

@media only screen and (max-width: 1150px) {
    .boxes div:nth-child(5) div,
    .boxes div:nth-child(6) div  {
        padding: 0.5em 0;
    }

    .testimonials {
        padding: 10em 3em;
    }
}

// tablet device
@media only screen and (max-width: 1080px) {
    // menu burger 
    .menu-btn {
        display: inline-block;
    }

    header {
        .main-menu {
            .header-logo {
                padding-left: 0.2em;
            }
            nav {
            position: fixed;
            top: 8em;
            background-color: $color-white;
            width: 84%;
            right: -100%;
            padding: 3em;
            transition-duration: .6s; 
            z-index: 100;
            &:after {
                content: '';
                position: absolute;
                top: -1.8em;
                right: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 2em 2em;
                border-color: transparent transparent $color-white transparent;
                z-index: 120;
            }
            ul {
                flex-direction: column;
                justify-content:center;
                align-items: center;
                gap: 2em;
                li a {
                    color: $color-d-gray;
                    font-weight: 600;
                }
                .contact-btn {
                    background: $color-yellow;
                    padding: 1em 1.5em;
                    &:hover {
                        background: $color-yellow;
                    }
                }
            }
        }
        }
    }

    header .main-menu nav.active-menu {
        right: 8%;
    }

    .boxes {
        flex-direction: column;
        flex-wrap: nowrap;
        > div {
            order: 2;
        }
        div {
            width: 100%;
            &:nth-child(2) {
                order: 1;
            }
            &:nth-child(1),
            &:nth-child(4) {
                padding: 10em;
                text-align: center;
                a {
                    margin: 0 auto;
                }
            }
            &:nth-child(5) div, 
            &:nth-child(6) div {
                top: 70%;
            }
        }
    }

    .testimonials {
        padding: 5em 3em;
        &-clients {
            flex-direction: column;
            gap: 3em;
            div {
            width: 70%;

            }
        }
    }

    .gallery {
        flex-wrap: wrap;
        img {
            width: 50%;
        }
    }
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 52px;
        margin-top: 1.8em;
    }
    .boxes {
        div {
            &:nth-child(1),
            &:nth-child(4) {
                padding: 5em;
            }
            &:nth-child(5) div, 
            &:nth-child(6) div {
                top: 60%;
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    h1 {
        font-size: 42px;
        margin-top: 1em;
        // padding-bottom: 1em;
    }

    header {
        min-height: auto;
        height: 100vh;
        .header-arrow {
            height: 150px;
            
        }
    }

    .boxes {
        div {
          
            &:nth-child(1), 
            &:nth-child(4) {
                padding: 3.5em 1.5em;
                h2 {
                    font-size: 32px;
                    margin-bottom: 0.9em;
                }
                p {
                    margin-bottom: 2em;
                }
            }
            &:nth-child(5),
            &:nth-child(6) {
                div {
                max-width: 90%;
                top: 63%;
                }
                img {
                    min-height: 100vh;
        
                }
            }
        }
    }

    .testimonials {
        padding: 3em 1em;
        h2 {
            margin-bottom: 3em;
            font-size: 18px;
        }
        .testimonials-clients div {
            width: 90%;
            img {
                width: 70px;
                height: 70px;
            }
            p{
                padding-top: 1.5em;
            }
        }
    }

    footer {
        padding: 3em 1em;
        .logo {
            width: 10em;
        }
        nav ul {
            gap: 3em;
        }
    }
}

